.popup__text {
  width: 18.5vw;
  margin: 0;
  font-weight: 400;
  font-size: 0.83vw;
  line-height: 150%;
  text-align: center;
  color: #000000;
}

@media screen and (max-width: 992px){
  .popup__text {
    width: 356px;
    font-size: 16px;
  }
}

@media screen and (max-width: 650px){
  .popup__text {
    width: 178px;
    font-size: 8px;
  }
}

