.popup__submit-button {
  width: 18.5vw;
  margin-top: 1.25vw;
  padding-top: 1.25vw;
  padding-bottom: 1.25vw;
  border: none;
  color: #ffffff;
  background-color: #F38120;
  font-size: 0.83vw;
  line-height: 1vw;
  letter-spacing: 0.04em;
  border-radius: 26vw;
}

.popup__submit-button:hover {
  cursor: pointer;
}
