.header__logo {
  width: 14.4vw;
  height: 7.7vw;
  background-image: url(../../../images/logo.png);
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}

@media screen and (max-width: 992px){
  .header__logo {
    width: 150px;
    height: 104px;
  }
}

@media screen and (max-width: 650px){
  .header__logo {
    width: 75px;
    height: 52px;
  }
}