.bulletins__description {
  display: none;
}

@media screen and (max-width: 700px){
  .bulletins__description {
    display: none;
    margin: 7px 0 0 0;
    font-weight: 400;
    font-size: 6px;
    line-height: 8px;
    width: 112px;
    padding-left: 23px;
    padding-bottom: 15px;
  }
}