.header__text {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 0.625vw;
  line-height: 150%;
  text-align: center;
}

@media screen and (max-width: 992px){
  .header__text {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.02em;
  }
}

@media screen and (max-width: 650px){
  .header__text {
    font-size: 7px;
    line-height: 9px;
  }
}