.bulletins__text {
  margin: 0;
  padding-top: 3.3vw;
  padding-left: 2.1vw;
  width: 7.5vw;
  font-weight: 400;
  font-size: 0.73vw;
  line-height: 157%;
}

@media screen and (max-width: 992px){
  .bulletins__text {
    width: 204px;
    font-size: 20px;
    line-height: 30px;
    box-shadow: none;
    padding-top: 52px;
    padding-left: 46px;
  }
}

@media screen and (max-width: 650px){
  .bulletins__text {
    width: 102px;
    font-size: 10px;
    line-height: 15px;
    padding-top: 26px;
    padding-left: 23px;
  }
}