.content__button_orange {
  background:  #F38120;
  width: 17.45vw;
}

.content__button_orange:hover {
  background:  #FD9C49;
}

@media screen and (max-width: 320px){
  .content__button_orange {
    width: 276px;
    gap: 24px;
  }
}