.popup__set {
  padding: 0;
  padding-bottom: 4.8vw;
  margin: 0;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 992px){
  .popup__set {
    padding-bottom: 93px;
  }
}

@media screen and (max-width: 650px){
  .popup__set {
    padding-bottom: 46px;
  }
}