.header__call-me {
  font-weight: 600;
  font-size: 0.625vw;
  line-height: 125%;
  letter-spacing: 0.04em;
  color: #12C868;
  text-decoration: underline dotted #12C868;
  text-underline-offset: 0.2vw;
}

@media screen and (max-width: 700px){
  .header__call-me {
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    letter-spacing: 0.04em;
    text-underline-offset: 6px;
  }
}
