.popup__input {
  width: 18.5vw;
  padding-top: 1.25vw;
  padding-bottom: 1.25vw;
  text-align: center;
  font-size: 0.9275vw;
  line-height: 1vw;
  color: #A7A7A7;
  background: #FDFCFC;
  border-radius: 26vw;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05);
  border: none;
}

@media screen and (max-width: 992px){
  .popup__input {
    margin-top: 12px;
    width: 356px;
    padding-top: 24px;
    padding-bottom: 24px;
    text-align: center;
    font-size: 18px;
    line-height: 20px;
    border-radius: 500px;
  }
}

@media screen and (max-width: 650px){
  .popup__input {
    margin-top: 6px;
    width: 178px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 9px;
    line-height: 10px;
  }
}