.popup__input {
  width: 18.5vw;
  padding-top: 1.25vw;
  padding-bottom: 1.25vw;
  text-align: center;
  border: 0.5px solid #868686;
  font-size: 0.9275vw;
  line-height: 1vw;
  color: #303030;
  background: #FDFCFC;
  border-radius: 26vw;
}