.popup {
  margin: 10vw auto 0;
  padding-right: 5vw;
  padding-left: 5vw;
  padding-top: 5vw;
  background: #fff;
  border-radius: 1.8vw;
  width: 28.9vw;
  position: relative;
  text-align: center;
}
