.drop-menu {
  width: 100%;
  display: none;
  flex-direction: column;
  padding-bottom: 80px;
  position: absolute;
  background-color: #EDF2F5;
  z-index: 99;
}

.drop-menu_open {
  display: flex;
}

@media screen and (max-width: 650px){
  .drop-menu {
    padding-bottom: 40px;
  }
}