.content__click {
  width: 1.35vw;
}

.content__click:hover {
  cursor: pointer;
}

@media screen and (max-width: 992px){
  .content__click {
    width: 25.6px;
  }
}

@media screen and (max-width: 650px){
  .content__click {
    width: 12.8px;
  }
}