.header__burger {
  display: none;
  width: 34px;
}

.header__burger:hover {
  cursor: pointer;
}

@media screen and (max-width: 992px){
  .header__burger_open {
    display: block;
  }
}

@media screen and (max-width: 650px){
  .header__burger_open {
    width: 17px;
  }
}