.header__icon_pdf {
  background: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 0.57vw;
  line-height: 118%;
  letter-spacing: 0.04em;
  color: #12C868;
}

@media screen and (max-width: 992px){
  .header__icon_pdf {
    font-size: 11px;
    line-height: 13px;
    text-align: center;
    letter-spacing: 0.04em;
  }
}
